body {
  background-color: #d6c601;
}

p {
  color: #01d6cb;
  text-align: center;
  font-size: 3em;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
